.welcome{
    background-image: url(./assets/h_img.jpg);
    align-items: center;
    height: 100vh;
    color: white;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    padding-top: 26%;
}
.mouse{
    padding: 8%;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about h1{
    font-weight: bold;
}
.about p{
    font-weight: 500;
}
.services{
    background-image: url(./assets/s_image.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40vh;
}